[Unit]
Description=Ammunition

[Service]
LimitNOFILE=65536
LimitNOFILESoft=65536
User=root
ExecStart=/opt/ammunition/ammunition --host ${POSTHRESQL_NODE} --dbname ammunition

[Install]
WantedBy=multi-user.target